body { margin: 0px; padding: 0px; font-family: Helvetica,Arial,Verdana,sans-serif; font-size: 12px; background-color: rgb(255, 255, 255); color: rgb(51, 51, 51); }
* { font-family: Helvetica,Arial,Verdana,Geneva,sans-serif; font-size: 10pt; color: rgb(0, 0, 0); }
p { font-family: Helvetica,Arial,Verdana,Geneva,sans-serif; font-size: 12px; color: rgb(0, 0, 0); line-height: 18px; text-decoration: none; }
h1 { font-family: Verdana; font-size: 18px; line-height: normal; font-weight: bold; color: rgb(207, 69, 16); }
h3 { font-family: Helvetica,Arial,Verdana,Geneva,sans-serif; font-size: 12px; line-height: normal; font-weight: bold; color: rgb(51, 51, 51); font-style: normal; }
li {margin-top: 8px; font-weight: bold;}
strong {font-weight: normal;}
a { font-family: Helvetica,Arial,Verdana,Geneva,sans-serif; font-size: 12px; color: rgb(121, 121, 121); text-decoration: none; }
.orange { font-family: Helvetica,Arial,Verdana,Geneva,sans-serif; font-size: 12px; color: rgb(254, 154, 46); text-decoration: none; }
a:hover { font-family: Helvetica,Arial,Verdana,Geneva,sans-serif; font-size: 12px; color: rgb(131, 156, 194); text-decoration: underline;}
.orange:hover { font-family: Helvetica,Arial,Verdana,Geneva,sans-serif; font-size: 12px; color: rgb(255, 255, 255); text-decoration: underline; background-color: rgb(255, 133, 0);}
.a1 { font-family: Helvetica,Arial,Verdana,Geneva,sans-serif; font-size: 11px; font-weight: 400; color: rgb(51, 51, 51); text-decoration: none; }
.a1:hover { font-family: Helvetica,Arial,Verdana,Geneva,sans-serif; font-size: 11px; color: rgb(51, 51, 51); text-decoration: underline; }
.a2 { font-family: Helvetica,Arial,Verdana,Geneva,sans-serif; font-size: 11px; font-weight: 400; color: rgb(94, 30, 20); text-decoration: none; }
.a2:hover { font-family: Helvetica,Arial,Verdana,Geneva,sans-serif; font-size: 11px; font-weight: 400; color: rgb(94, 71, 68); text-decoration: none; }
.a2:visited { font-family: Helvetica,Arial,Verdana,Geneva,sans-serif; font-size: 11px; font-weight: 400; color: rgb(93, 89, 89); text-decoration: none; }
.h2 { font-family: Helvetica,Arial,Verdana,Geneva,sans-serif; font-size: 13px; line-height: normal; font-weight: bold; color: rgb(0, 0, 0); }
.h2_red { font-family: Helvetica,Arial,Verdana,Geneva,sans-serif; font-size: 13px; line-height: normal; font-weight: bold; color: rgb(255, 0, 0); }
.h2_burgundy { font-family: Helvetica,Arial,Verdana,Geneva,sans-serif; font-size: 13px; line-height: normal; font-weight: bold; color: rgb(207, 69, 16); }
.h2_magenta { font-family: Helvetica,Arial,Verdana,Geneva,sans-serif; font-size: 13px; line-height: normal; font-weight: bold; color: rgb(195, 52, 142); font-style: normal; }
.h3 { font-family: Helvetica,Arial,Verdana,Geneva,sans-serif; font-size: 12px; line-height: normal; font-weight: bold; color: rgb(0, 0, 0); font-style: normal; }
.h3_strike { font-family: Helvetica,Arial,Verdana,Geneva,sans-serif; font-size: 12px; line-height: normal; font-weight: bold; color: rgb(0, 0, 0); font-style: normal; text-decoration: line-through; }
.h3_red { font-family: Helvetica,Arial,Verdana,Geneva,sans-serif; font-size: 12px; line-height: normal; font-weight: bold; color: rgb(255, 0, 0); font-style: normal; }
.h4 { font-family: Arial Narrow; font-size: 11px; line-height: normal; color: rgb(51, 51, 51); font-style: normal; font-weight: 400; }
.normal_black_11 { font-family: Helvetica,Arial,Verdana,Geneva,sans-serif; font-size: 11px; line-height: normal; font-weight: bold; color: rgb(51, 51, 51); font-style: normal; }
.normal_burgundy_11 { font-family: Helvetica,Arial,Verdana,Geneva,sans-serif; font-size: 11px; line-height: normal; font-weight: bold; color: rgb(189, 64, 16); font-style: normal; }
.normal_white_11 { font-family: Helvetica,Arial,Verdana,Geneva,sans-serif; font-size: 11px; line-height: normal; font-weight: bold; color: rgb(255, 255, 255); font-style: normal; }
.tel-white { font-family: Helvetica,Arial,Verdana,Geneva,sans-serif; font-size: 16px; line-height: 16px; font-weight: bold; color: rgb(255, 255, 255); font-style: normal; }
.table_main { height: 50%; border: 0px none; }
table.one { border-width: 0px; border-spacing: 5px; border-style: none; empty-cells: hide; }
table.one td { border-width: 1px; padding: 8px; border-style: solid; border-spacing: 3px; border-color: rgb(238, 238, 238); border-collapse: separate; }
.normal_burgundy_11 a { color: rgb(189, 64, 16); font-size: 11px; }

#jivo_top_wrap a, #jivo_top_wrap img { background: none repeat scroll 0% 0% transparent ! important; margin: 0px; padding: 0px; float: none ! important; transition: none 0s ease 0s ; width: auto; height: auto; border: 0px none; }
#jivo_top_wrap table { border-width: 0px; width: auto; }
#jivo_top_wrap div { margin: 0px; text-indent: 0px; }
#jivo_top_wrap, .jivo_top_wrap { position: fixed; right: 10px; bottom: 0px; height: auto; z-index: 300000; background-color: transparent; margin: 0px; width: 262px; }
#jivo_chat_widget { font-family: Arial,sans-serif; font-weight: bold; font-size: 12px; color: rgb(70, 70, 70); z-index: 300000; cursor: pointer; }
.jivo_rounded_corners { border-radius: 4px 4px 0px 0px; }
#jivo-label-wrapper.jivo_gradient { background-image: url('white_grad.png'); background-repeat: repeat-x; background-clip: padding-box; }
.jivo_3d_effect { box-shadow: 0px 1px rgba(255, 255, 255, 0.7) inset; }
.jivo_shadow { box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.6); }
.jivo_shadow.jivo_3d_effect { box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.6), 0px 1px rgba(255, 255, 255, 0.4) inset; }
#jivo_copyright { position: fixed; text-align: center; color: rgb(170, 170, 170); font-family: Arial; font-size: 11px; line-height: 12px; padding: 6px 12px 8px; border-radius: 3px 3px 3px 3px; box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.4); text-shadow: 0px -1px black; cursor: default; background: -moz-linear-gradient(center top , rgb(56, 56, 56) 0%, rgb(2, 2, 2) 100%) repeat scroll 0% 0% transparent; z-index: 300001; }
#jivo_copyright a { font-family: Arial; font-size: 11px; color: rgb(238, 238, 238); text-decoration: underline; line-height: 12px; }
#jivo_copyright_corner.bottom { width: 0px; height: 0px; border-left: 4px solid transparent; border-right: 4px solid transparent; border-width: 5px 4px 0px; border-style: solid solid none; border-color: rgb(2, 2, 2) transparent -moz-use-text-color; position: absolute; bottom: -5px; right: 26px; z-index: 300001; }
#jivo-label { position: fixed; background-color: transparent; z-index: 9999999; float: left; }
#jivo-label #jivo-label-wrapper { font-family: Arial,sans-serif; font-weight: normal; font-size: 12px; cursor: pointer; text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.5); border-color: black; float: left; color: inherit; margin: 0px; white-space: nowrap; display: table; }
#jivo-label #jivo-label-wrapper { border-collapse: separate ! important; }
#jivo-label table, #jivo-label tr, #jivo-label td { margin: 0px; padding: 0px; border: 0px none; text-align: center; vertical-align: middle; border-spacing: 0px; background: none repeat scroll 0% 0% transparent; width: auto; height: 100% ! important; }
#jivo-label #jivo-label-wrapper #jivo-label-status { height: 100%; width: 33px; background: url('green_bubble.png') no-repeat scroll 11px 50% transparent; }
#jivo-label #jivo-label-wrapper #jivo-label-text { opacity: 0.8; }
#jivo-label #jivo-label-wrapper #jivo-label-text:hover { opacity: 1; }
#jivo-label #jivo-label-wrapper #jivo-label-text:active { opacity: 0.5; }
#jivo-label #jivo-label-wrapper #jivo-label-copyright { font-size: 0px; line-height: 0px; padding: 0px 9px 0px 5px; }
#jivo-label.fixed-bottom { bottom: 0%; }
#jivo-label.fixed-bottom #jivo-label-wrapper { height: 100%; }
#jivo-label.fixed-bottom #jivo-label-wrapper.jivo_rounded_corners { border-radius: 4px 4px 0px 0px; }
#jivo-label.fixed-bottom #jivo-label-wrapper.jivo_shadow {  }
#jivo-label.fixed-bottom #jivo-label-wrapper.jivo_gradient {  }
#jivo-label.fixed-bottom #jivo-label-wrapper.jivo_3d_effect {  }
.jivo_gradient { background-image: url('white_grad.png'); background-repeat: repeat-x; }

    .spoil {
 position: relative;
 overflow: hidden;
 border: 1px solid #c3c3c3;
 border-left: 6px solid #c3c3c3;
 margin: 15px 0 15px 0;
 height: 24px;
    }

 .spoil .sp_text {
     margin: 40px 10px 10px 10px;
 }

 .spoil .sp_top {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 25px;
     background: rgba(195, 195, 195, 0.1);
     border-bottom: 1px solid #c3c3c3;
     display: table;
 }

 .spoil .sp_span {
     vertical-align: middle;
     display: table-cell;
     padding: 0 0 0 20px;
 }

 .spoil .sp_button {
     position: absolute;
     right: 2px;
     top: 2px;
     width: 100px;
     height: 20px;
     text-align: center;
     border: 1px solid #c3c3c3;
     background: #fff;
 }

     .spoil .sp_button:hover {
  box-shadow: inset 0 0 3px #ffd800;
     }
